body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  margin: 40px;
}

h1 {
  color: #1e3a8a;
}

img {
  border-radius: 10px;
  margin-bottom: 20px;
}
.profile-pic {
  width: 180px;      
  display: block;
  margin: 15px auto; 
  border-radius: 10px;
}

